<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs')  %>
<body>

  <%- include('../partials/nav.ejs')  %>

  <div class="details content">
    <h2><%= blog.title %></h2>
    <div class="content">
      <p><%= blog.body %></p>
    </div>
    <img
      class="delete"
      data-doc="<%= blog._id %>"
      src="https://icons-for-free.com/iconfiles/png/512/trash+bin+icon-1320086460670911435.png"
    />
  </div>

  <%- include('../partials/footer.ejs')  %>
  
  <script>
    const trashcan = document.querySelector('img.delete')

    trashcan.addEventListener('click', () => {
      console.log('click')
      const endpoint = `/blogs/${trashcan.dataset.doc}`
      console.log("endpoint", endpoint)

      fetch(endpoint, { method: 'DELETE' })
        .then(res => res.json())
        .then(data => window.location.href = data.redirect)
        .catch(err => console.log(err))
    })
  </script>
</body>
</html>